@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    font-family: 'Red Hat Display', sans-serif;
}
header{
    background-color: salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}
header h1{
    padding: 30px 0 15px 0;
}
header p{
    padding-bottom: 30px;
}
/*menu*/
menu{
    background-color: #1bbc9b;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 12px 0;
}
ul{
    list-style: none;
    display: flex;
    margin-left: 30px;
}
ul li{
    margin-left:16px;
    cursor: pointer;
}
div{
    display: flex;
    margin-right: 30px;
}
div p{
    margin-right: 16px;
    cursor: pointer;
}
/*body aside*/
main{
    display: flex;
}
aside{
    background-color: rgb(234, 232, 232);
    width: 30%;
}
#tituloAside{
    padding: 40px 0 16px 16px;
}
aside img{
    width: 100%;
    padding: 0 16px 10px 16px;
}
aside p{
    padding: 0 16px 10px 16px;
}
.imagen{
    width: 100%;
    height: 200px;
    padding: 0 16px 4px 16px;
}
/*Section*/
.sectionArticulo{
    width: 70%;
}
.sectionArticulo h2{
    padding: 16px;
}
.sectionArticulo h6{
    padding: 0 0 16px 16px;
}
.sectionArticulo img{
    padding: 0 16px;
    width: 100%;
    height: 35vh;
}
.sectionArticulo p{
    padding: 0 16px 16px 16px;
}
.sectionArticulo div{
    margin: 0 16px;
    border-bottom: 2px solid rgb(138, 130, 130);
}
/*Footer*/
footer{
    background-color: rgba(210, 210, 210, 0.962);
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

    

