*{
    margin: 0;
    padding: 0;
    box-shadow: 3px;
}
header {
    display: flex;
    justify-content: space-around;
}
ul{
   list-style: none;
   display: flex;
   align-items: center;
}
ul li{
    margin: 0 12px;
    cursor: pointer;
}
img{
    justify-content: flex-start;
}
div{
    justify-content: flex-end;
    align-self: center;
}
button{
    background-color: rgb(121, 123, 124);
    color: aliceblue;
    width: 30px;
    height: 30px;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}
